.App {
  text-align: center;
  margin-top: 50px;
}

input[type="file"] {
  margin-bottom: 20px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.loading {
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  font-weight: bold;
  animation: loading 1s infinite;
}

@keyframes loading {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}